{% extends "base.html" %}
{% block title %} Main {% endblock %}
{% block head %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}
{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-3-strong w-100 h-100" style="border-radius: 1rem;">
            <div class="card-header">
                <div class="d-flex justify-content-end">
                  <span class="fw-light fs-4 mb-0">
                       <a href="{% url 'accounts:profile' %}">{{ request.user.username }}</a>
                      <a href="{% url "accounts:logout" %}">
                      <i class="fas fa-right-from-bracket fa-1x" style="cursor: pointer"></i>
                      </a>
                  </span>
                  </div>
                <p class="fw-bold text-center fs-1 pt-0 mb-0">TODO list</p>
            </div>
          <div class="card-body p-3 h-100">
              <div class="d-flex justify-content-start mb-3" style="height: auto;">
                  <form class="w-100" method="POST" action="{% url 'todolist:create' %}">
                      <div class="input-group mb-1">
                          <div class="input-group p-0">
                              <a data-container="body" class="h-100" rel="tooltip" data-mdb-placement="left" data-mdb-toggle="tooltip" title="Set tg reminder?">
                                  <button data-mdb-toggle="collapse" data-mdb-target="#collapseExample" type="button" class="btn btn-primary h-100">
                                     <i class="fas fa-calendar"></i>
                                  </button>
                              </a>
                            <div class="form-outline">
                              <input type="text" id="id_todo" class="form-control" name="title" data-mdb-showcounter="true" maxlength="25" />
                              <label class="form-label" for="id_todo">To do</label>
                              <div class="form-helper"></div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">
                              <i class="fas fa-plus"></i>
                          </button>
                      </div>
                      <div class="collapse mt-4" id="collapseExample">
                          {% if request.user.telegram.confirmed %}
                        <div class="form-outline mb-2" id="pickr_area">
                            <input type="text" class="form-control" id="datetimepicker"/>
                            <div class="form-helper">Set date & time</div>
                        </div>
                          {% else %}
                              <p class="fs-4 fw-light text-center">Connect <a href="{% url 'accounts:tg' %}">tg account</a> to use reminders</p>
                          {% endif %}
                      </div>
                  {% csrf_token %}
                  </form>
              </div>
              <form method="POST" action="{% url 'todolist:mark' %}">
              <div class="list-group list-group-light border ps-2 list-group-small">
                  {% for task in tasks %}
                  <li class="list-group-item d-flex justify-content-xxl-between align-items-center">
                    <input class="form-check-input" type="checkbox" name="{{ task.id }}" value="true" id="check{{ task.id }}" />
                    <label class="form-check-label {% if task.done %} text-decoration-line-through text-muted {% endif %}" for="check{{ task.id }}">{{ task.title }}
                    {% if not task.done %}
                      <span class="badge rounded-pill badge-warning">Waiting</span>
                    {% else %}
                        <span class="badge rounded-pill badge-success">Done</span>
                    {% endif %}
                      {% if task.date_time and not task.done %}
                      <span class="badge rounded-pill badge-info"><i class="fas fa-clock"></i>
                          {{ task.date_time }}
                      </span>
                        {% endif %}
                  </label>
                      <a class="btn btn-rounded btn-sm btn-danger" href="{% url 'todolist:delete' task_id=task.id %}" role="button"><i class="fas fa-xmark"></i></a>
                  </li>
                  {% endfor %}
              </div>
              <div class="d-flex justify-content-center pt-2" style="height: 3rem;">
                  {% if has_prev_page %}
                  <div class="px-2 py-0">
                        <a href="{% url 'todolist:lobby_page' page=tasks_p.previous_page_number %}">
                          <button class="btn btn-link" type="button">
                            <i class="fas fa-angle-left"></i>
                          </button>
                        </a>
                  </div>
                  {% endif %}
              {% if tasks %}
                  <div class="px-2 py-0">
                      <button class="btn btn-primary btn-success"  style="background-color: #25d366;" type="submit">
                        <i class="fas fa-check"></i>
                          TOGGLE STATUS
                      </button>
                  </div>
              {% endif %}
              {% if has_next_page %}
                  <div class="px-2 py-0">
                      <a href="{% url 'todolist:lobby_page' page=tasks_p.next_page_number %}">
                          <button class="btn btn-link" type="button">
                            <i class="fas fas fa-angle-right"></i>
                          </button>
                      </a>
                  </div>
              {% endif %}
              </div>
              {% csrf_token %}
              <input name="current_page" value="{{ current_page }}" type="hidden"/>
              </form>
        </div>
      </div>
  </div>
  </div>
{{ paginator.start_index }}
</section>
{% endblock %}