{% extends "base.html" %}
{% block title %} {{ request.user.username }} profile{% endblock %}
{% block content %}
<section class="vh-100">
  <div class="container py-5 h-100 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-3-strong w-100 h-100" style="border-radius: 1rem;">
            <div class="card-header">
                <div class="d-flex justify-content-start">
                    <a href="{% url 'todolist:lobby' %}">
                        <button type="button" class="btn btn-link border">
                            <i class="fas fa-angle-left"></i>
                            Back
                        </button>
                    </a>
                </div>
                <p class="fw-bold text-center fs-1 pt-0 mb-0">Profile</p>
                <p class="fw-light text-center fs-4 pt-2 mb-0">Here you can update your account info</p>
                {% if error %}
                    <p class="fw-light text-center fs-4 pt-2" style="color: red;">{{ error }}</p>
                {% endif %}
                {% if success %}
                    <p class="fw-light text-center fs-4 pt-2" style="color: green;">{{ success }}</p>
                {% endif %}
            </div>
            <div class="card-body">
                    <form method="post" action=".">
                        {% for field in form %}
                            <div class="form-outline mb-3">
                            {{ field }}
                                <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                            </div>
                        {% endfor %}
                        {% csrf_token %}
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </form>
                <div class="pt-3">
                    <a target="_blank" href="{% url 'accounts:tg' %}" class="btn btn-lg btn-link w-100" type="button"><i class="fab fa-telegram"></i>
                        Manage notifications {% if request.user.telegram.confirmed %}(connected){% endif %}</a>
                <div>
            </div>
            </div>
        </div>
      </div>
  </div>
</section>
{% endblock %}