{% extends "base.html" %}
{% block title %} TG connection {% endblock %}
{% block content %}
<section class="vh-100">
<div class="container py-5 h-100 d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-3-strong w-100 h-100" style="border-radius: 1rem;">
            <div class="card-header">
                <p class="text-center fw-bold fs-1">TG account connection</p>
            </div>
            <div class="card-body">
                <p class="fw-lighter fs-4">Step 1. Visit the link and tap "START" tg bot button. Update the page and do step 2</p>
            </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}